@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif; 
    font-size: 14px;
}

header{
    background-color: blanchedalmond;
    height: 150px;
}

h1 {
    color:white;
    font-size: 140px;
    text-align: center;
}

main {
    background-color:white;
    height: 750px;
    padding-top: 50px;  
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.box {
    margin-top: 30px;
    background-color:white;
    height: 300px;
    width: 350px;  
}

.box p {
    color:rgb(185, 196, 218);
    font-size: 60px;
    padding-top: 50px;
}

.icon {
    background-color:white;
    border: solid 3px rgb(185, 196, 218);
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: auto;
    
}

img {
    padding-top: 65px;
    padding-left: 70px;
}

.name {
    height: 25px;
    width: 120px;
    border-radius: 20px;
    background-color: royalblue;
    margin: auto;
    margin-top: 20px;
}

span {
    color: white;
    font-size: 15px;
    margin-left: 40px;
}

h4 {
    color: royalblue;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}

footer {
    height: 170px;
    background-color: blanchedalmond;
}

p {
    color: white;
    font-size: 40px;
    text-align: center;
}

footer span {
    color:white;
    font-weight: bolder;
    font-size: 60px;
}

button {
    height: 25px;
    width: 120px;
    border-radius: 20px;
    background-color:royalblue;
    margin-left: 120px;
    margin-top: 20px;
    border: 0;
    color: white;
}

button:focus {
	outline:0;
}

/*modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-open {
    display: block;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
}

.modal-content span {
    color:blue;
    float: right;
    padding-right: 10px;
    font-size: 20px;
}

.modal-body {
    padding: 15px;
    margin: 10% auto;
    background-color: white;
}

.modal-body p {
    font-size: 20px;
    color: blue;
}

